@font-face {
  font-family: "Averta";
  font-weight: 800;
  font-style: italic;
  src: url('/fonts/Averta/bold-italic.woff2');
  unicodeRange:
    "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF";
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  font-weight: 800;
  src: url('/fonts/Averta/bold.woff2');
  unicodeRange:
    "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF";
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  font-weight: 300;
  font-style: italic;
  src: url('/fonts/Averta/light-italic.woff2');
  unicodeRange:
    "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF";
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  font-weight: 300;
  src: url('/fonts/Averta/light.woff2');
  unicodeRange:
    "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF";
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Averta/regular-italic.woff2');
  unicodeRange:
    "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF";
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  font-weight: 400;
  src: url('/fonts/Averta/regular.woff2');
  unicodeRange:
    "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF";
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/Averta/semibold-italic.woff2');
  unicodeRange:
    "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF";
  font-display: swap;
}

@font-face {
  font-family: "Averta";
  font-weight: 600;
  src: url('/fonts/Averta/semibold.woff2');
  unicodeRange:
    "U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF";
  font-display: swap;
}
  